<nav>
    <div class="nav-wrapper">
        <h5 class="brand-logo left"> BYG </h5>
        <ul id="nav-mobile" class="right">
            <li><a id="nb_return"> </a></li>
            <li><a href="/feedback" id="nb_contact"> CONTACT </a></li>
        </ul>
    </div>
</nav>