<link rel="stylesheet" type="text/css" media="screen" href="shared/shared.css">
<script src="shared/breakfast.js"></script>

<div class="container mainContainer breakfastForm" id="b_container">
</div>