<link rel="stylesheet" type="text/css" media="screen" href="shared/shared.css">
<script src="shared/directory.js"></script>

<button class="btn homeScreen"> <i class="medium material-icons"> home </i> </button>

<div class="container mainContainer" id="d_container">
</div>

<button data-target='ad_confirmationModal' id='ad_graduate' class='btn modal-trigger'> Move Everyone One Grade Up </button>