<button class="btn logout"> Logout </button>
        
<div class="container mainContainer" id="h_navigationContainer">
    <h5 id='h_welcome'> Welcome </h5>
    <div id='logNav' class='s10 offset-s1 navigation valign-wrapper'>
        <h3 id='logNavText' class='navigationText'> Log </h3>
    </div>
    <div id='breakfastNav' class='s10 offset-s1 navigation valign-wrapper'>
        <h3 id='breakfastNavText' class='navigationText'> Breakfast </h3>
    </div>
    <div id='directoryNav' class='s10 offset-s1 navigation valign-wrapper'>
        <h3 class='navigationText'> Directory </h3>
    </div>
</div>