<link rel="stylesheet" type="text/css" media="screen" href="general/general.css">
<script src="general/home.js"></script>

<button class="btn logout"> Logout </button>
        
<div class="container mainContainer" id="h_navigationContainer">
</div>