<link rel="stylesheet" type="text/css" media="screen" href="shared/shared.css">
<script src="shared/log.js"></script>

<button class="btn homeScreen"> <i class="medium material-icons"> home </i> </button>
        
<div class="container mainContainer row" id="l_container">
</div>