<div class="container mainContainer" id="np_container">
    <h6 id="np_text"> Sorry, you do not have permission to view this page. </h6>
    <button class="btn" id="np_backHome"> Back to Home </button>
</div>