<link rel="stylesheet" type="text/css" media="screen" href="mentor/mentor.css">
<script src="mentor/thankYou.js"></script>

<div class="container mainContainer" id="ty_container">
    <h6 id="ty_text"> Thank you, we successfully received your information. </h6>
    <button class="btn" id="mty_backHome"> Back to Home </button>
</div>