/* General */
    body {
        background-color: #ffefd5;
    }
    .mainContainer {
        background-color: #f1f1f1;
        border: 1px solid black;
        border-radius: 5px;
        margin-top: 10vh;
        margin-bottom: 10vh;
        padding: 35px;
    }

    .error {
        color: red;
        margin: 3vh 5vw;
    }
    .success {
        color: #3CB371;
        margin: 3vh 5vw;
    }

/* Index */
    #i_container {
        margin-top: 30vh;
        padding-bottom: 60px;
    }

    #i_f_title {
        text-align: center;
    }

    #i_container .input-field {
        margin: 3vh 5vw;
    }

    #i_f_register {
        margin-left: 5vw;
    }

    #i_f_login {
        margin-right: 5vw;
        float: right;
    }

/* Registration */
    #r_container {
        padding-bottom: 75px;
    }

    #r_container .input-field {
        margin: 3vh 5vw;
    }
    
    #r_f_register {
        margin-right: 5vw;
        float: right;
    }

/* Home */
    #h_welcome {
        text-align: center;
    }

    .navigation {
        border: 1px solid black;
        border-radius: 5px;
        height: 30vh;
        margin: 10vh 5vw;
    }

    .navigationText {
        margin: 0 auto;
    }

/* Log */
    /* Admin */
    .al_missingLogGrade {
        display: inline;
    }

    #al_missingLogs {
        margin: 5vh 0;
    }

    /* Mentor */
    .ml_section {
        margin: 3vh 5vw;
    }

    #ml_error_section {
        margin: 5vh 5vw;
    }

    #ml_f_submitLog {
        float: right;
        margin: 5vw;
    }

/* Breakfast */
    /* Admin */
    #ab_container {
        width: 60%;
    }

    /* Mentor */
    .breakfastForm {
        padding-bottom: 75px;
    }

    .breakfastForm p {
        padding: 2vh 0;
    }

    #mb_f_submitBreakfast {
        float: right;
        margin-right: 5vw;
    }

/* Directory */
    /* Admin */
    #ad_dropdownButton {
        margin-left: 2vw;
    }
    
    .ad_gradeSelection {
        text-align: center !important;
    }

/* Add a Student Page */
    #ad_container {
        padding-bottom: 75px;
    }

    #ad_error_section {
        margin: 7vh 5vw;
    }

    #ad_container .input-field {
        margin: 3vh 5vw;
    }

    #ad_container .ad_f_title {
        margin: 3vh 5vw;
    }

    #ad_f_addNewStudent {
        float: right;
        margin-right: 5vw;
    }

/* Thank You Page */
    #ty_container {
        margin-top: 30vh;
    }

    #ty_text {
        padding-bottom: 3vh;
        text-align: center;
    }

    #mty_backHome {
        display: block;
        margin: 0 auto;
    }

/* No Permission Page */
    #np_container {
        margin-top: 30vh;
    }

    #np_text {
        padding-bottom: 3vh;
        text-align: center;
    }

    #np_backHome {
        display: block;
        margin: 0 auto;
    }
