<link rel="stylesheet" type="text/css" media="screen" href="general/general.css">
<script src="general/login.js"></script>

<div class="container mainContainer" id="i_container">
    <h5 id="i_f_title"> Bethany Youth Group <br/> Staff Login </h5>
    <div class="input-field col s12">
        <input id="i_f_email" type="text" class="validate">
        <label for="i_f_email"> Email Address </label>
    </div>
    <div class="input-field col s12">
        <input id="i_f_password" type="password" class="validate">
        <label for="i_f_password"> Password </label>
    </div>
    <div id="i_f_loginError" class="submissionError">
        
    </div>
    <a id="i_f_register" href="/register"> Register </a>
    <button class="btn" id="i_f_login"> Login </button>
</div>