<button class="btn loginScreen"> Back to Login </button>

<div class="container mainContainer" id="r_container">
    <div class="input-field col s12">
        <input id="r_f_email" type="text" class="validate">
        <label for="r_f_email"> Email Address </label>
    </div>
    <div class="input-field col s12">
        <input id="r_f_password" type="password" class="validate">
        <label for="r_f_password"> Password </label>
    </div>
    <div class="input-field col s12">
        <input id="r_f_confirmPassword" type="password" class="validate">
        <label for="r_f_confirmPassword"> Confirm Password </label>
    </div>
    <div class="input-field col s12">
        <input id="r_f_registrationCode" type="text" class="validate">
        <label for="r_f_registrationCode"> Registration Code </label>
    </div>
    <div id="r_f_registrationError" class="submissionError">
        
    </div>
    <button class="btn" id="r_f_register"> Register </button>
</div>