<link rel="stylesheet" type="text/css" media="screen" href="admin/admin.css">
<script src="admin/addStudent.js"></script>

<button class="btn homeScreen"> <i class="medium material-icons"> home </i> </button>
        
<div class="container mainContainer" id="ad_container">
</div>