/* General */
    * {
        font-family: 'Crimson Text';
    }

    body {
        background-color: #ffefd5;
    }
    
    .mainContainer {
        background-color: #f1f1f1;
        border: 1px solid black;
        border-radius: 5px;
        margin-top: 10vh;
        margin-bottom: 10vh;
        padding: 35px;
    }

    .error {
        color: red;
        margin: 3vh 5vw;
    }

    .error-noSideMargin {
        color: red;
        margin-bottom: 3vh;
    }

    .success {
        color: #3CB371;
        margin: 3vh 5vw;
    }